
.story-box-container
{
    display: flex;
    margin-top: 10px;
    background-color: #fff;
    padding: 10px;
    align-items:center
}
.image-chapter {
 flex: 3;
 
}
.img-item{
    max-width:100%
    
}
.info-chapter {
 flex: 7;
 margin: 10px;
}