  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="story-box-container">
            <div class="image-chapter"><img class="img-item" [routerLink] = "['/stories', story._id]" src="{{story.img_pre|urlImg }}"></div>
            <div class="info-chapter">
                
                 <div class="caption">
                                        <i class=" icon-layers font-green"></i>
                                        <span style="cursor: pointer" [routerLink] = "['/stories', story._id]" class="caption-subject font-green bold uppercase">{{story.name |truncate:true:17}} #{{story.part}}</span>
                                        <div class="caption-desc font-grey-cascade">
                                                            <div>
                                                            <span class="tag label label-success pointer-hover" [routerLink] ="['/categories', story.cat._id]"><i class="fa fa-book" aria-hidden="true"></i> {{story.cat.name|truncate:true:15}}</span>
                                                            <span class="tag label label-info">{{story.date | dateShort}}</span>
                                                            </div>
                                                             {{story.text_pre | truncate:true:20}}</div>
                                                            
										</div>
                                </div>
            
        </div>
</div>