
            <div>
                <h1 class="page-title"><i class="fa fa-area-chart"></i> Trang chủ <small>Cùng đọc truyện nào</small></h1>
                 <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li>
                                <i class="icon-home"></i>
                                <a>Home</a>
                            </li>
                        </ul>  
                </div>
                <new-story-image (loadDone)='loadStoryDone($event)'></new-story-image>
                <new-cat-list (loadDone)='loadCatDone($event)'></new-cat-list>
                
            </div>
            
            <loading-bar *ngIf='isLoadStoryDone == false || isLoadCatDone == false'></loading-bar>